<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- （通常是 hibernate.cfg.xml）中声明持久性类： -->
<hibernate-configuration>
    <session-factory>
        <mapping class="com.ytx.web.entity.User"/>
    </session-factory>
</hibernate-configuration>